/* Only the 'about' row gets this dark background */
.about-row {
  background-color: #2D3C53;
  color: white; /* White text for contrast */
  border-radius: 8px;
}

.grid-box img {
  max-width: 100%;
  height: auto;
}

.syedaLogo slogan{
  text-align: center;
}

.syedaLogo{
  margin-left: auto;
  margin-right: auto;
  height:50px;
}

.wireframe sheet{
  margin-left: auto;
  margin-right: auto;
  height:200px;
}

.brandkit{
  margin-left:auto;
  margin-right:auto;
  height:200px;
}
